<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.arnold.dungeonbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterCreation.CharacterWorkflow.characterRaceList"
            android:label="@string/title_activity_character_race_list" />
        <activity android:name=".CharacterCreation.InformationClasses.raceInfo" />
        <activity android:name=".CharacterCreation.CharacterWorkflow.characterClassList" />
        <activity android:name=".CharacterCreation.InformationClasses.classInfo" />
        <activity android:name=".CharacterCreation.CharacterWorkflow.characterBackgroundList" />
        <activity android:name=".CharacterCreation.InformationClasses.backgroundInfo" />
        <activity android:name=".CharacterCreation.CharacterWorkflow.characterStats" />
        <activity android:name=".CharacterCreation.CharacterWorkflow.characterProfChoose" />
        <activity android:name=".CharacterCreation.CharacterWorkflow.characterBasicInfoChoose" />
        <activity android:name=".CharacterCreation.CharacterWorkflow.characterSpellList" />
        <activity android:name=".CharacterView.characterInfoMainActivity"></activity>
        <meta-data android:name="DATABASE" android:value="characterInfo.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.developer.arnold.dungeonbuddy" />
    </application>

</manifest>